@model ResetPasswordVm
@{
    ViewData["Title"] = "Изменение пароля";
}
<div class="pp-shell pp-page-block">
    <div class="pp-form-stage pp-form-stage-center">
        <div class="pp-form-card">
            <h1 class="pp-form-title">Изменение пароля</h1>
            <form method="post" class="pp-clean-form">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Token" />
                <div class="mb-1">
                    <label>Придумайте пароль</label>
                    <input class="form-control pp-input" asp-for="Password" type="password" />
                    <span class="text-danger small" asp-validation-for="Password"></span>
                    <div class="pp-hint">Пароль должен состоять минимум из 8 символов</div>
                </div>
                <div class="mb-1 mt-3">
                    <label>Повторите пароль</label>
                    <input class="form-control pp-input" asp-for="ConfirmPassword" type="password" />
                    <span class="text-danger small" asp-validation-for="ConfirmPassword"></span>
                    <div class="pp-hint">Пароль должен состоять минимум из 8 символов</div>
                </div>
                <div class="mt-5">
                    <button class="pp-outline-btn pp-big-btn w-100" type="submit">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
